<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div>
    <div>
        <h3>逗比请登录：</h3>
        <div>
            <div style="padding: 0 30px">
                <form action="login" method="get">
                    <input name="username" placeholder="用户名"><br>
                    <input name="password" placeholder="密码"><br>
                    <input type="submit" value="提交">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>